@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
  font-family: 'Raleway', sans-serif !important;
  background-color: #F1FBFF;
}
.main-body {
  min-height: calc(100vh - 220px);
}


.spacer {
  margin: 20px;
}

.nav-button {
  margin: 0 5px;
  text-transform: uppercase;
}

.button, .button :focus, .button.is-focused {
  border: 0 !important;
  outline: 0 !important;
  font-family: 'Raleway', sans-serif !important;
}

.select.is-info select {
  border: 0;
}

$info: #367EAC;
$button-border-color: #F1FBFF;
$button-background-color: #F1FBFF;
$button-focus-border-color: #F1FBFF;
$button-active-border-color: #F1FBFF;
$button-text-hover-background-color: #F1FBFF;
$button-focus-box-shadow-color: #F1FBFF;

$divider-color: #196A9F;
.is-divider {
  margin: 0.75rem 0 !important;
  border-top-color: #196A9F !important;
  opacity: 0.5 !important;
}
$divider-thickness: .05rem;
.is-divider {
  width: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.slide-in-enter-active {
  transition: all 1s ease;
}

.slide-in-enter
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.tooltip {
  // ...

  &.tooltip-info {
    $color: rgba(#004499, .9);

    .tooltip-inner {
      background: $color;
      color: white;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
      max-width: 250px;
    }

    .tooltip-arrow {
      border-color: $color;
    }
  }
}

section {
  padding-top: 1em !important;
}

@import "~bulma/bulma";
@import "~bulma-extensions/bulma-divider/dist/css/bulma-divider";
/*@import "~vue2-animate/src/sass/vue2-animate";*/
